Options -MultiViews
Options -Indexes

ErrorDocument 404 /404.php

RewriteEngine on
RewriteRule "^(.*)/$" /$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !(index.php|404.php|search.php\?q=.*|/assets/.*)
RewriteRule ^(.*)$ /index.php?page=$1 [NC,L,QSA]