Options -MultiViews
Options -Indexes

ErrorDocument 404 /404.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !(index.php|search.php\?q=.*|/blog(/.*)?|/assets/.*)
RewriteRule ^(.*)$ /index.php?page=$1 [NC,L,QSA]