Options -MultiViews
Options -Indexes

ErrorDocument 404 /404.php

RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !(index.php|search.php\?q=.*|/assets/.*)
RewriteRule ^(.*)$ /index.php?page=$1 [NC,L,QSA]