pre
{
    background-color: #28436cad;
    border-radius: 5px;
    padding: 10px;
}

.wiki-content > h1:first-child
{
    margin-top: 0;
}    

.markdown-alert + .markdown-alert
{
    margin-top: 20px;
}
