*
{
    box-sizing: border-box;
}

html
{
    background: url("https://docs.kerrishaus.com/assets/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    scroll-behavior: smooth;
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    
    color-scheme: dark light;
}

html, body
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: transparent;
    color: white;
}

.wiki-container > .sidebar > .links > div > ul
{
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.wiki-container
{
    display: flex;
    
    min-height: 100dvh;
    
    max-width: 100vw;
    overflow-x: clip;
}

.wiki-container > .sidebar
{
    position: sticky;
    z-index: 2;
    top: 0px;
    
    background-color: transparent;
    
    padding: 20px;
    
    border-right: 1px solid #686868;

    width: 350px;
    max-width: 100vw;
    
    max-height: 100dvh;
    
    overflow-y: auto;
    overflow-x: hidden;
}

.wiki-container > .sidebar > .navbar-brand > #sidebar-close-button
{
    display: none;
}

.wiki-container > .wiki-content-container > header > #sidebar-toggle-button
{
    display: block;
    
    margin-right: 15px;
    
    position: sticky;
    left: 0px;
    
    cursor: pointer;
}

@media only screen and (min-width: 1000px)
{
    .wiki-container > .wiki-content-container > header > #sidebar-toggle-button
    {
        display: none;
    }
}

/* less than 1000px */
@media only screen and (max-width: 1000px)
{
    .wiki-container > .sidebar
    {
        position: fixed;
        
        left: -100vw;
        width: 100vw;
        
        transition: left 0.3s;
    }
    
    .wiki-container > .wiki-content-container
    {
        position: absolute;
        
        right: 0;
        
        transition: right 0.3s;
    }
    
    body.sidebar-open
    {
        max-width: 100vw;
        overflow: hidden;
    }
    
    body.sidebar-open .wiki-container > .sidebar
    {
        left: 0;
        border-right: none;
    }
    
    .wiki-container > .sidebar > .navbar-brand > #sidebar-close-button
    {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        cursor: pointer;
    }
    
    body.sidebar-open .wiki-container > .wiki-content-container
    {
        right: -100vw;
    }
    
    footer
    {
        position: relative;
        z-index: 0;
        right: 0;
        
        transition: right 0.3s;
    }
    
    body.sidebar-open footer
    {
        right: -100vw;
    }
}

.sidebar::-webkit-scrollbar
{
    display: none;
}

.wiki-container > .sidebar > .navbar-brand > img
{
    margin-bottom: 15px;
}

.wiki-container > .sidebar > .searchbar
{
    position: sticky;
    top: 0px;
    
    margin-bottom: 20px;
}

#webPreviousDirectory
{
    margin-bottom: 20px;
    
    display: block;
}

.wiki-container > .sidebar > .links > div > h1
{
    font-size: 16px;
    font-weight: 500;
    
    background-color: #181818a1;
    
    padding: 4px 8px;
    
    margin: 0px;
    margin-top: 10px;
    
    border-radius: 6px 6px 0px 0px;
    
    transition: border-radius 0.5s;
}

.wiki-container > .sidebar > .links > div.active > h1
{
    border-radius: 6px;
}

.wiki-container > .sidebar > .links > div > h1::before
{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0da";
    
    display: inline-block;
    margin-right: 6px;
    
    transform: rotateZ(90deg);
    
    transition: transform 0.5s;
}

.wiki-container > .sidebar > .links > div.active > h1::before
{
    transform: rotateZ(0deg);
}

.wiki-container > .sidebar > .links > div > ul
{
}

.wiki-container > .sidebar > .links > div > ul:not(:last-child)
{
    margin-bottom: 20px;
}

.wiki-container > .sidebar > .links > div > ul > li
{
    padding: 4px 8px;
}    

.wiki-container > .sidebar > .links > div > ul > li > a
{
    color: white;
    text-decoration: none;
}

.wiki-container > .sidebar > .links > div > ul > li:nth-child(even)
{
    background-color: #afafaf73;
}

.wiki-container > .sidebar > .links > div > ul > li:nth-child(odd)
{
    background-color: #8f8f8f54;
}

.wiki-container > .sidebar > .links > div > ul > li:last-child
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.wiki-container > .sidebar > .links > .lonely-links
{
    margin-top: 20px;
}

.wiki-container > .sidebar > .links > .lonely-links > li
{
    padding: 4px 10px;
}

.wiki-container > .sidebar > .links > .lonely-links > li:first-child
{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.wiki-container > .sidebar > .links > .lonely-links > li:last-child
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.wiki-container > .sidebar > .links > .lonely-links > li:nth-child(even)
{
    background-color: #22222278;
}

.wiki-container > .sidebar > .links > .lonely-links > li:nth-child(odd)
{
    background-color: #00000078;
}

input[type='text']
{
    width: 100%;
    padding: 8px;
    
    background-color: #222;
    
    border: 1px solid transparent;
    border-radius: 8px;
    
    box-shadow: 0 0 0 0 #475c62;
    
    color: lightgray;
    
    transition: box-shadow 0.25s, border-color 0.2s, background-color 0.25s;
}

input[type=text]:focus
{
    outline: none;
    
    border-color: lightblue;
    background-color: #2F2F2F;
    color: white;
    
    box-shadow: 0 0 5px 4px #45889b;
}

/*
// TODO: find a cleaner way to do this
*/
input[type=text]:focus::-webkit-input-placeholder
{ /* WebKit based browsers */
    color: transparent;
    opacity: 0;
}

input[type=text]:focus:-moz-placeholder
{ /* Mozilla Firefox 4 to 18 */
    color: transparent;
    opacity: 0;
}

input[type=text]:focus::-moz-placeholder
{ /* Mozilla Firefox 19+ */
    color: transparent;
    opacity: 0;
}

input[type=text]:focus:-ms-input-placeholder
{ /* Internet Explorer 10+ */
    color: transparent;
    opacity: 0;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: lightgray;
}

.wiki-container > .wiki-content-container
{
    background-color: #00000099;
    width: 100%;
}

.wiki-container > .wiki-content-container > header
{
    position: sticky;
    top: 0px;
    z-index: 1;
    
    display: flex;
    
    background-color: #27508599;
    
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    
    border-bottom: 1px solid #363A40;
    
    padding: 15px 20px;
    
    margin-bottom: 20px;
    
    max-width: 100%;
    overflow-x: auto;
    
    white-space: nowrap;
}

.wiki-container > .wiki-content-container > header > nav > ul
{
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.wiki-container > .wiki-content-container > header > nav > ul > li
{
    display: inline-block;
}

.wiki-container > .wiki-content-container > header > nav > ul > li:not(:last-child)::after
{
    content: "/";
    margin-left: 8px;
}

.wiki-container > .wiki-content-container > .wiki-content
{
    margin: 20px;
    min-height: calc(100dvh - 50px - (20px * 2));
}

.wiki-container > .wiki-content-container > .wiki-content.loading
{
    filter: blur(3px);
}

.wiki-container > .wiki-content-container > .wiki-content > .file-empty,
.wiki-container > .wiki-content-container > .wiki-content > .file-missing
{
    display: flex;
    
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    min-height: calc(100dvh - 90px);
    width: 100%;
    
    padding-top: 50px;
    
    font-size: 38px;
}

.wiki-container > .wiki-content-container > .wiki-content > .file-empty > p > small,
.wiki-container > .wiki-content-container > .wiki-content > .file-missing > p > small
{
    font-size: 20px;
    color: lightgray;
}

.wiki-container > .wiki-content-container > .wiki-content > .file-missing > i.fas
{
    position: relative;
    z-index: 0;
    
    font-size: 64px;
}

.wiki-container > .wiki-content-container > .wiki-content > .file-empty > i.fas
{
    position: relative;
    z-index: 0;
    transform: rotateY(180deg);
    font-size: 64px;
}

.wiki-content kbd
{
    background-color: #222;
    border: 1px solid #646464;
    padding: 2px 5px;
    border-radius: 4px;
}

.wiki-content .markdown-alert
{
    border-left: 5px solid dodgerblue;
    border-radius: 5px;
    padding-left: 10px;
}

.wiki-content .markdown-alert .markdown-alert-title::before
{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    
    display: inline-block;
    margin-right: 6px;
}

.wiki-content .markdown-alert .markdown-alert-title
{
    margin-bottom: 10px;
    font-weight: 700;
}

.wiki-content .markdown-alert p
{
    margin-top: 0;
}

.wiki-content .markdown-alert.markdown-alert-note
{
    border-color: dodgerblue;
}

.wiki-content .markdown-alert.markdown-alert-note .markdown-alert-title
{
    color: dodgerblue;
}

.wiki-content .markdown-alert.markdown-alert-note .markdown-alert-title::before
{
    content: "\f05a";
}

.markdown-alert.markdown-alert-tip
{
    border-color: green;
}

.wiki-content .markdown-alert.markdown-alert-tip .markdown-alert-title
{
    color: green;
}

.wiki-content .markdown-alert.markdown-alert-tip .markdown-alert-title::before
{
    content: "\f0eb";
}

.wiki-content .markdown-alert.markdown-alert-important
{
    border-color: purple;    
}

.wiki-content .markdown-alert.markdown-alert-important .markdown-alert-title
{
    color: purple;
}

.wiki-content .markdown-alert.markdown-alert-important .markdown-alert-title::before
{
    content: "\f27a";
}

.wiki-content .markdown-alert.markdown-alert-warning
{
    border-color: goldenrod;
}

.wiki-content .markdown-alert.markdown-alert-warning .markdown-alert-title
{
    color: goldenrod;
}

.wiki-content .markdown-alert.markdown-alert-warning .markdown-alert-title::before
{
    content: "\f071";
}

.wiki-content .markdown-alert.markdown-alert-caution
{
    border-color: #d9534f;
}

.wiki-content .markdown-alert.markdown-alert-caution .markdown-alert-title
{
    color: #d9534f;
}

.wiki-content .markdown-alert.markdown-alert-caution .markdown-alert-title::before
{
    content: "\f06a";
}
